.app-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #21242C;
}

.top-section {
    display: flex;
    padding: 20px;

    h1 {
        font-size: 50px;
        color: #7CD0B0;
    }

    h2 {
        font-size: 50px;
        color: white;
    }

    h3 {
        font-size: 20px;
        color: white;
    }   
}

.weekanddate {
    display: flex;
    flex-direction: column;
    color: white;
}

.content-section {
    flex-grow: 1;
    height: 100%;
    color: white;
}

.content-container {
    display: flex;
    height: 100%;
    padding: 20px;
}

.bookmark-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #7CD0B0;
    padding: 20px;
    :link {
        color: white;
        text-decoration: none;
    }
    :visited {
        color: white;
    }
    
}   

.bottom-section {
    color: white;
    :link {
        color: white;
    }
    :visited {
        color: white;
    }
    text-align: center;

    padding: 10px;
}