/* You can add global styles to this file, and also import other style files */
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    font-family: 'Courier Prime', Courier, monospace;
}

html, body {
    height: 100%;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 20px;
}
